<div class="resume_item resume_work">
    <div class="title">
       <p class="bold">Work Experience</p>
     </div>
    <ul>
        <li>
            <div class="date">2013 - 2015</div> 
            <div class="info">
                 <p class="semi-bold">Web Dev</p> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
        </li>
        <li>
          <div class="date">2015 - 2017</div>
          <div class="info">
                 <p class="semi-bold">WebDev/p> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
        </li>
        <li>
          <div class="date">Web Dev</div>
          <div class="info">
                 <p class="semi-bold">Lorem ipsum dolor sit amet.</p> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
        </li>
    </ul>
</div>
