<div class="resume">
    <div class="resume_left">
      <div class="resume_profile">
        <img src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fjpeg&attachment_token=AOo0EEVI%2BCGiTKJvjIreeJAonrfmmSYyFYwBki7HEE2Zju2uB1XEw8r17gLlGra5GnfgRqbXfJDaeSiCl5VbQ%2BO8CQUnaXxyDsHD8l401kzBRxS%2BcMgmv1GviehItU9tEokKBeyNP%2FFGlBJrCks7NWjKvMnZxieeOQY5R3hYYrEwsOFGf35tyMxgDqVvcE3srJ9pPyWEHGtG3lVxtcr5EPGaID2CC8BhjbqFYm%2FS%2FmTy9hKVmP222UShssbo9F6U7Vyg%2F32uup0%2B%2FgIlC9cUfO%2B1Ql2Vv12f5PxRO3XHDtumcRn2Q3CRTNUTZdsrITX8YPQJQxtaC%2Fg9j1JjbeQipEk%2BZt74nbQrNBkkS1Q223emM%2FKJXCoQQedg3jrH51qS0wTpCBjaPwXJHbYwl8%2BZalMkjnSsxn5bTl2vvTJSsATy77lU9WQvm9ujp4sPbdT47h0pSIFVW%2FqzC40xWxnn843noammYm0SNK8vExbfiLOSWZ7dr7AA2bOtYsYtuTr6el2pCH1sivhHELgLocgCxO7n2hlHpQSINJ6i3nDGmXKIxwPUvTmZYtLA8n4WYZPeRUH731HiaxcvrbVioPQKaMc21gSkYsao&sz=w1920-h955" alt="profile_pic">
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">John Paul Rocero</p>
            <p class="regular"></p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fa fa-birthday-cake"></i>
              </div>
              <div class="data">
                Birthdate: 1/13/2003
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-id-badge"></i>
              </div>
              <div class="data">
                Nickname: Jaypee
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-mars"></i>
              </div>
              <div class="data">
                Gender: Male
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-globe"></i>
              </div>
              <div class="data">
                Hobby: Web Developing
              </div>
            </li>
          </ul>
        </div>